name: Docker publish

on:
  push:
    branches: ["main", "master"]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push (train image)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/train.dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:train-latest

      - name: Build and push (train CUDA image)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/train_cuda.dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:train-cuda-latest

      # Optional: API image
      - name: Build and push (api image)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfiles/api.dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:api-latest
